.fixed-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 220px;
  min-width: 180px;
  color: #f1f1f1;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  top: 0;
  left: 0;
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

a{
    cursor: pointer;
    color: white;
}

a:hover{
    opacity: 0.8;
}

.activeLink{
    font-weight: bold;
}
.activeLink:hover{
    opacity: 1;
}

.myBrand{
    align-self: flex-start;
    padding-top: 15px;
    padding-left: 15px;
}
.myBrand:hover a{
    opacity: 0.95;
}
.myBrand > span{
    font-size: 2rem;
}

@media(max-width: 1299px){
    .fixNavbarTopSm{
        flex-direction: row !important;
        align-items: center !important;        
        height: 70px;
        width: 100%;
        z-index: 10;
    }
    .fixNavbarTopSm .nav-item{
        margin-bottom: 0;
    }

    .myBrand{
        padding: 0;
        align-self: inherit;
    }

    .myBrand i{
        font-size: 2.5rem;
    }
}