<div class="navbar navbar-dark bg-dark fixed-nav flex-column fixNavbarTopSm">
  
  <div class="navbar-brand myBrand">
  
    <a *ngIf="!loggedIn()" routerLink="/" class="nav-link d-flex align-items-center">
      <i class="fas fa-search-dollar fa-4x"></i>  
      <span>MyWallet</span>
    </a>

    <a *ngIf="loggedIn()" routerLink="/dashboard" class="nav-link d-flex align-items-center">
        <i class="fas fa-search-dollar fa-4x"></i>  
        <span>MyWallet</span>      
    </a>

    <a id="hamburger"  (click)="toggleCollapsedDiv()">
      <i class="fas fa-bars"></i>
    </a>

  </div>

  <p class="nav-item">
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="activeLink" [ngClass]="{'disabled': !loggedIn()}">Dashboard</a>
  </p>
  <p class="nav-item">
    <a class="nav-link" routerLink="/incomes" routerLinkActive="activeLink" [ngClass]="{'disabled': !loggedIn()}">Incomes</a>
  </p>
  <p class="nav-item">
    <a class="nav-link" routerLink="/expenses" routerLinkActive="activeLink" [ngClass]="{'disabled': !loggedIn()}">Expenses</a>
  </p>
  <p *ngIf="loggedIn()" class="nav-item">
    <a class="nav-link" (click)='logout()'>Logout</a>
  </p>

  <div class="navItemsCopy" id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true" #collapse="bs-collapse">
    <p class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="activeLink" [ngClass]="{'disabled': !loggedIn()}">Dashboard</a>
    </p>
    <p class="nav-item">
      <a class="nav-link" routerLink="/incomes" routerLinkActive="activeLink" [ngClass]="{'disabled': !loggedIn()}">Incomes</a>
    </p>
    <p class="nav-item">
      <a class="nav-link" routerLink="/expenses" routerLinkActive="activeLink" [ngClass]="{'disabled': !loggedIn()}">Expenses</a>
    </p>
    <p *ngIf="loggedIn()" class="nav-item">
      <a class="nav-link" (click)='logout()'>Logout</a>
    </p>
  </div>
</div>