<div class="mt-5 mb-5">
    <h3 class="text-center"><i class="fas fa-money-bill-wave"></i> Welcome {{authService.getUserName() | titlecase}} <i class="fas fa-money-bill-wave"></i></h3>
</div>


<div class="container myAccountsContainer mb-3">
    <div class="row no-gutters mb-3 justify-content-between">
        <h4 class="col-6">My accounts</h4>
        <button class="btn btn-success" (click)="openCreateAccountModal()">Add account</button>
    </div>
    

    <ul class="list-group">
       <button 
       type="button" 
       class="list-group-item list-group-item-action" 
       
       *ngFor="let bankAccount of bankAccounts;let i = index"
       [attr.data-bankAccountId]="i"
       (click)="showTransactionsForAccount(bankAccount.id)"
       > 
           <span>{{bankAccount.accountName}}</span>: 
           <span [ngClass]="{'text-success': bankAccount.ballance > 10000, 'text-warning': bankAccount.ballance < 10000 && bankAccount.ballance > 0, 'text-danger': bankAccount.ballance <=0}">
               {{bankAccount.ballance}}
            </span>
       </button>
    </ul>
</div>

<div *ngIf="bankAccountTransactions" class="container accountDetailsContainer">
    <h4 class="text-center row" style="width: 90%;">
        <div class="col-11">Transactions on Bank account - {{this.selectedBankAccountName}} </div>
        <button class="col-1 btn btn-info"><i class="fas fa-chart-pie"></i></button>
    </h4>

    <app-account-details [transactions]="bankAccountTransactions"></app-account-details>
</div>
