<div class="mt-5 mb-5">
    <h3 class="text-center"><i class="fas fa-money-bill-wave"></i> Welcome {{authService.getUserName() | titlecase}} <i class="fas fa-money-bill-wave"></i></h3>
</div>


<div class="container myAccountsContainer">
    <h4>My accounts</h4>

    <ul class="list-group">
       <button 
       type="button" 
       class="list-group-item list-group-item-action" 
       
       *ngFor="let bankAccount of bankAccounts;let i = index"
       [attr.data-bankAccountId]="i"
       (click)="showTransactionsForAccount(bankAccount.id)"
       > 
           <span>{{bankAccount.accountName}}</span>: <span>{{bankAccount.ballance}}</span>
       </button>
    </ul>
</div>

<div *ngIf="bankAccountTransactions" class="container accountDetailsContainer">
    <app-account-details [transactions]="bankAccountTransactions"></app-account-details>
</div>
