<div class="mt-5 mb-5">
    <h3 class="text-center"><i class="fas fa-money-bill-wave"></i> Welcome {{authService.getUserName() | titlecase}} <i class="fas fa-money-bill-wave"></i></h3>
</div>


<div class="container myAccountsContainer mb-3">
    <div class="row no-gutters mb-3 justify-content-between align-items-center">
        <h4 class="col-6">My accounts </h4>
        <button class="btn btn-success" (click)="openCreateAccountModal()">Add account</button>
    </div>
    

    <ul class="list-group">
        <button class="list-group-item list-group-item-action"                
        *ngFor="let bankAccount of bankAccounts"
            type="button" 
            (click)="showTransactionsForAccount(bankAccount.id)"
            > 
                <span class="accountName" title="Edit name" (click)="openEditAccountsModal($event, bankAccount.id, bankAccount.accountName)">
                    {{bankAccount.accountName}}
                </span>: 
                <span [ngClass]="{'text-success': bankAccount.ballance > 10000, 'text-warning': bankAccount.ballance <= 10000 && bankAccount.ballance > 0, 'text-danger': bankAccount.ballance <=0}">
                    {{bankAccount.ballance}}
                    </span>
        </button>       
    </ul>
</div>

<div *ngIf="bankAccountTransactions" class="container accountDetailsContainer">
    <app-account-details
        [transactions]="bankAccountTransactions"
        [selectedBankAccountId]="selectedBankAccountId"
        [selectedBankAccountName]="selectedBankAccountName"
        (emmitConfirmedDeletion)="updateListAfterDeletion($event)"
      
      ></app-account-details>
</div>
