<form class="mt-3 p-4" style="width: 90%; margin: auto;"  #expenseForm="ngForm" (ngSubmit)="submitExpense()">
  <div class="form-group">
    <input type="text"
      placeholder="Select date"
      class="form-control"
      bsDatepicker      
      [(ngModel)]="dateAdded"
      #selectedDate ="ngModel"
      name="dateAdded"
      required      
      autocomplete="off">
    <div *ngIf="!selectedDate.valid && selectedDate.touched" class="alert alert-danger">
        Date is required
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label" for="bankAccount">Bank account:</label>
    
    <select 
    class="form-control" 
    name="bankAccountId" 
    id="bankAccount" 
    [(ngModel)]="selectedAccountId" required >

      <option  *ngFor="let account of bankAccounts; let i = index" [ngValue]='account.id' >{{account.accountName}}</option>
    </select>
  </div>

  <div class="form-group">
    <label class="control-label" for="expenseCategory">Expense category:</label>
    
    <select 
    class="form-control" 
    name="expenseCategoryId" 
    id="expenseCategory" 
    [(ngModel)]="selectedCategoryId" 
    required
    >

      <option  *ngFor="let category of expenseCategories" 
      [ngValue]='category.id'
      >{{category.expenseCategoryName}}</option>

    </select>
  </div>

  <div class="form-group">
    <label class="control-label" for="ammount">Set ammount:</label>
    <input 
    class="form-control" 
    type="number" name="ammount" 
    id="ammount" 
    #selectedAmmount = 'ngModel'
    min="1" 
    [(ngModel)]="ammount" 
    required
    >
    <div *ngIf="!selectedAmmount.valid && selectedAmmount.touched" class="alert alert-danger">
      Ammount is required
    </div>
  </div>

  <div class="form-group">
    <label for="comment" class="control-label">Comment:</label>
    <input class="form-control" type="text" name="comment" id="comment" [(ngModel)]="comment" autocomplete="off">    
  </div>
  

  <button 
  type="submit" 
  class="btn btn-success"
  [disabled]="!expenseForm.valid">Submit</button>
</form>