@inherits System.Web.Mvc.WebViewPage

<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MyWalletSPA</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <app-root></app-root>
    <script src="~/Scripts/angular/runtime-es5.7bce183f1ed5ae5f2249.js"></script>
    <script src="~/Scripts/angular/polyfills-es5.856a9c5a3756259298dd.js"></script>
    <link href="~/Scripts/angular/styles.be1f408db4dabe76449a.css" rel="stylesheet" />
    <script src="~/Scripts/angular/main-es5.a24aa73199cbc7fb6152.js"></script>
</body>
</html>
