<p *ngIf="transactions.length === 0">No recorded transactions on this account.</p>

<div *ngIf="transactions.length > 0">

  <div class="container">
    <h4 class="text-center row  mt-3" >
      <div class="col-sm-11">Transactions on Bank account - {{this.selectedBankAccountName}} </div>
        <button title="Stats"  class="btn btn-info col-sm-1 chartBtn"  [routerLink]="['/dashboard', this.selectedBankAccountId, this.selectedBankAccountName]"><i class="fas fa-chart-pie"></i></button>
    </h4>
  </div>      

  <ul class="list-group transactionsList reduceFontSmallScr">
    <li 
    class="list-group-item list-group-item-action "
    *ngFor="let transactionGroup of transactions">
        <div class="row p-2 mb-1 bg-dark text-white text-center">
          <div class="col-3">
            {{transactionGroup.date | date:"dd.MM.yyyy"}}
          </div>
          <div class="col-3">
            Ammount
          </div>
          <div class="col-3">
            Comment
          </div>
          <div class="col-3">
            New Ballance
          </div>
        </div>
        
        
        <div class="row text-center p-1" *ngFor="let transaction of transactionGroup.transactions">
          <div class="col-3" title="Category">
            {{transaction.categoryName}} 
          </div>
          <div class="col-3"
            [ngClass]="{'text-success':transaction.transactionType === 'Income', 'text-danger':transaction.transactionType === 'Expense' }">
            {{transaction.ammount}} 
          </div>
          <div class="col-3">
            {{transaction.comment}}
          </div>
          <div class="col-3  text-info">
            {{transaction.newBallance}}
          </div>             
        </div>
  
    </li>
  </ul>    
</div>

<hr class="mb-3">
<div class="container mb-3 text-center">
  <button class="btn btn-danger" (click)="deleteSelectedBankAccount(template)">Delete this bank account</button>
</div>

<ng-template #template>
  <div class="modal-body text-center p-3">
    <p>Are you sure you want to delete this account?</p>
    <p>Deleting this account deletes all recorded transactions on the account!</p>
    <div class="row align-items-center justify-content-around">
      <button type="button" class="btn btn-primary" (click)="confirm()" >Yes</button>
      <button type="button" class="btn btn-danger" (click)="decline()" >No</button>
    </div>
  </div>
</ng-template>
